.friend-list {
    font-family: Roboto;
    display: block;
    width: 400px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 5px;
    margin: 0 auto 20px;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(153, 253, 153);
    padding: 10px;
    border: 15px;
    border-color: rgb(0, 104, 5);
}

.item:not(:last-child) {
    margin-bottom: 20px;
}
.status,
.status--online,
.status--offline {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.status {
    background-color: white;
    border: 12px solid black;
}
.status--offline {
    background-color: red;
}
.status--online {
    background-color: green;
}

.avatar {
    width: 48px;
    margin-right: 20px;
}

.name {
    font-weight: 700;
}
